@charset "utf-8";

*{margin: 0; padding: 0;}
body{font-size: 15px;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
img {vertical-align: middle;}

.container{width: 1200px; margin: 0 auto;}

.header{border-bottom: 1px solid #888;}
.header div{display: flex; justify-content: space-between; height: 100px; align-items: center;}
.header__logo a{margin-left: 20px;}

.gnb a{display: block; transition: 0.3s;}
.gnb>ul{display: flex; margin-top: 50px;}
.gnb>ul>li {position: relative;}
.gnb>ul>li>a{line-height: 50px; padding: 0 40px; font-size: 17px;}
.gnb>ul>li:hover>a{background: #888; color:#fff}

.gnb>ul>li>ul{display: none; position: absolute; left:0; right:0;
height: 160px; color:#888}

.gnb>ul>li>ul>li>a{line-height: 40px; text-align: center; background: #888; color:#fff;}
.gnb>ul>li>ul a:hover{color: #888; background: #fff;}

.gnb>div{position: absolute; left:0; right:0; top: 100px; height: 160px; background: #888; display: none;} 

.gnb{margin-top: 0px;}

.midimg{height: 300px; overflow: hidden;}
.midimg li{height: 300px; background-image: url(../images/slide1.jpg);}

.content{display: flex; justify-content: space-between;}
.content article{width:calc(100%/3); padding: 20px;}
.content__title{font-size: 20px; padding-bottom: 15px; margin-left: 20px;}

.notice li{line-height: 20px; color:#888; margin-left: 10px;}
.notice a:hover{background: skyblue; color:#fff;}

.gallery ul {display: flex; justify-content: space-around;}
.gallery img{transition: 0.3s; opacity: 0.9;}
.gallery img:hover{opacity: 1;}

.galleryli:hover img{transition: scale(1.03);}
.gallery li{overflow: hidden; width: 100px;}

.banner ul{text-align: center;}
.banner h2{font-size: 20px; padding-bottom: 15px; margin-left:45px;}
.banner img{transition: 0.5s; opacity: 0.9;}
.banner-img:hover{opacity: 1;} 

.footer{background: #eee;}
.footer>div{height: 100px; display: flex; justify-content: space-between; align-items: center;}
.footer_logo{padding: 0 30px; }
.copylight{color:#888}
.sns{width: 120px; display: flex; margin-right: 50px;}
.sns img{width: 20px;}
.sns li{margin: 0 10px;}
